<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid >
   

  <ion-row class="ion-margin-horizontal" style="align-content: center;">
     
 <!--Google maps-->
      <ion-col  size="6" style="align-content: center;">
        <ion-card class="ion-text-center" >
          <ion-card-content >
            <capacitor-google-maps #map></capacitor-google-maps>

          </ion-card-content>
          <ion-label color="dark" >
            <ion-button size="50%" (click)="backToHome()" expand="center" class="ion-margin" >Done</ion-button>
          </ion-label>
        </ion-card>
       
      </ion-col>
    </ion-row> 
    <ion-row>
      
    </ion-row>
 
  </ion-grid>
  
</ion-content>


