<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>

    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-text color="dark" class="ion-margin-start">
          Welcoe to my first ionic app  
          </ion-text>
        <ion-label>
        
          <p> 
            <ion-chip color="dark">
              <ion-label class="ion-text-wrap" >
                
Fatimah Alhamawi
              </ion-label>
            </ion-chip>
          </p>
          <ion-note color="dark" class="ion-margin-start">
20.sep.2022            </ion-note>
        </ion-label>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin-horizontal">
      <!--Camear-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div  align="center">
              <ion-thumbnail >
                <img src="assets/icon/phot.jpg" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button expand="block" class="ion-margin" (click)="getPicture()" >Take a picture</ion-button>
              <img [src]="selectedImage?.webPath" />
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>


<!--Share-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div  align="center">
              <ion-thumbnail >
                <img src="assets/icon/share.jpg" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button expand="block" class="ion-margin" (click)="share()" >Share</ion-button>
              <img [src]="selectedImage?.webPath" />
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>

    <ion-row class="ion-margin-horizontal">
 <!--QR code-->
 <ion-col  size="6">
  <ion-card class="ion-text-center" >
    <ion-card-header>
      <div align="center">
        <ion-thumbnail >
          <img src='assets/icon/qrcode.jpg' />
        </ion-thumbnail>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">
        
        <ion-button (click)="toQrCode()" expand="block" class="ion-margin" >QR Code</ion-button>

      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-col>

 <!--Google map-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img  src='assets/icon/location.jpg' />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button (click)="toMaps()" expand="block" class="ion-margin" >Go to Google maps</ion-button>

            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
    
 
    <ion-row class="ion-margin-horizontal">
      <!--browser-->
      <ion-col  size="12">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src='assets/icon/search.jpg' />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button (click)="openBrowser()" expand="block" class="ion-margin" >Search on browser</ion-button>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>

  </ion-grid>
  
</ion-content>

