<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>

    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>
  <ion-grid >

    <ion-row class="ion-margin-horizontal" >

      
      <ion-col size="6">
        <ion-card class="ion-text-center" (click)="loadData()">
          <ion-card-header>  
            <ion-item>
              <ion-label class="ion-text-center" >
                     {{toDayDate |date:"EEE dd MMM"}}
                     <ion-label slot="start">
                      {{(weatherTemp?.temp - 273.15).toFixed(0)}}
               </ion-label>
              </ion-label>
              
        
            </ion-item>  
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
                <ion-icon name="location"> </ion-icon>
                <span>{{cityName}}</span>
            </ion-label>
            <!-- <img slod="end" src="weatherIcon.com"> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-text-center" >
          
          <ion-card-content>
          
             <ion-text size="60">Local Storge</ion-text> 
            <ion-button expand="block" class="ion-margin" (click)="goToLocalStorge()" >Local Storge</ion-button>

          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>






   

   <ion-row class="ion-margin-horizontal">
      <!--Camear-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div  align="center">
              <ion-thumbnail >
                <img src="assets/icon/phot.jpg" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button expand="block" class="ion-margin" (click)="getPicture()" >Take a picture</ion-button>
              <img [src]="selectedImage?.webPath" />
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

<!--Share-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div  align="center">
              <ion-thumbnail >
                <img src="assets/icon/share.jpg" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button expand="block" class="ion-margin" (click)="share()" >Share</ion-button>
              <img [src]="selectedImage?.webPath" />
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>

    <ion-row class="ion-margin-horizontal">
 <!--QR code-->
 <ion-col  size="6">
  <ion-card class="ion-text-center" >
    <ion-card-header>
      <div align="center">
        <ion-thumbnail >
          <img src='assets/icon/qrcode.jpg' />
        </ion-thumbnail>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">
        
        <ion-button (click)="toQrCode()" expand="block" class="ion-margin" >QR Code</ion-button>

      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-col>

 <!--Bar code-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>  
            <div align="center">
              <ion-thumbnail >
                <img  src='assets/icon/bar.jpg' />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button (click)="toBarCode()" expand="block" class="ion-margin" >Bar code</ion-button>

            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row> 
    
 
    <ion-row class="ion-margin-horizontal">
      <!--browser-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src='assets/icon/search.jpg' />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button (click)="openBrowser()" expand="block" class="ion-margin" >Search on browser</ion-button>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

<!--Google map-->
      <ion-col  size="6">
        <ion-card class="ion-text-center" >
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img  src='assets/icon/location.jpg' />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">
              <ion-button (click)="toMaps()" expand="block" class="ion-margin" >Go to Google maps</ion-button>

            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

   
    </ion-row>

  </ion-grid>
  
</ion-content>

